@model IEnumerable<ImageGallery.Models.Image>

@{
    ViewBag.Title = "Home Page";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Album example</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
        @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id = "form" }))
        {
            <p>
                <label class="btn btn-primary">
                    Add image <input class="btn btn-primary" name="file" type="file" id="file" style="display: none;">
                </label>
            </p>
        }
    </div>
</section>

<div class="album text-muted">
    <div class="container">
        <div class="row">
            @foreach (var image in Model)
            {
            <div class="card">
                <img class="lazy" data-src="@image.ImagePath" />
                @foreach (var face in image.FaceAttributes)
                {
                    <div>
                        <p><strong><em>Face @face.FaceId</em></strong></p>
                        <p>Age: @face.FaceAttributes.Age</p>
                        <p>Gender: @face.FaceAttributes.Gender</p>
                        <p>Hair: @String.Join(",", @face.FaceAttributes.Hair.HairColor.Select(hc => "(" + hc.Color + ": " + hc.Confidence + ")"))</p>
                    </div>
                }
            </div>
            }
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.7/jquery.lazy.min.js" integrity="sha256-sSF4G6GdnMRF5ZKZOLYGcPvU0BTvmPMFaQ6025ZB+Nk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.7/plugins/jquery.lazy.ajax.min.js" integrity="sha256-uQvfHo7VKZFNpuEmueDtC1/4i21aJiaG38ubIskMSF0=" crossorigin="anonymous"></script>
    <script src="~/Scripts/site.js"></script>
}